$row-height: 60px;
$footer-height: (2*$row-height)/3;

// Our colourscheme is https://coolors.co/000000-dbc2cf-9fa2b2-3c7a89-ffffff

$color-dark: #000000;
$color-selected: #dbc2cf;
$color-ghost: #9fa2b2;
$color-active: #3c7a89;
$color-light: #ffffff;
